.select{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 8px 0px;
    background-color: white;
    outline-color: #61516e;
}
.root{
    width: 100%;
    height: 85%;
    display: flex;
}
.container{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigContainer{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 0px;
}
.errorLabel{
    color:red;
}
.formContainer{
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px;
}
.emptySelect{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selectPatient{
    width:100%;
    text-align: center;
}
.selectForm{
    max-width: 290px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.dischargeForm{
    padding: 20px;
    color: white;
}
.checkboxText{
    display: flex;
    align-items: center;
}
.form {
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.history{
    width:45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2{
    color: white;
    font-size: 20px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-align:center;
    margin: 20px 0px 10px;
}
.h1{
    color: white;
    font-size: 20px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-align:center;
    margin: 0px 0px 10px;
}
.tableContainer{
    overflow-x:auto;
    max-height:500px;
}
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table tr:nth-child(even){
    /*background-color: #f2f2f2;*/
    background-color: #f2f2f2;
}
.table tr:nth-child(odd){
    /*background-color: #f2f2f2;*/
    background-color: white;
}
.table tr:hover {
    background-color: #ddd;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #403649;
  color: white;
}