input[type=text], input[type=password], input[type=date] {
   width: 100%;
   padding: 10px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   /*тут было 3px*/
   border: 2px solid #ccc;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   outline: none;
}
input[type=checkbox]{
    margin: 0px;
}
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
    /*тут было 3px*/
   border: 2px solid #61516e;
}
input[type=submit] {
    width:100%;
    background-color: #61516e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 8px 0px 0px;
    cursor: pointer;
}
input[type=submit]:disabled{
    background-color: #cccccc;
    color: #666666;
}
input[type=submit]:hover:enabled {
    background-color: #564862;
}
body{
    margin: 0px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background: linear-gradient(to bottom right, #355C7D, #6C5B7B, #C06C84);
}
form{
    margin: 0px;
}