.root{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0px;
    background-color: white;
    outline-color: #61516e;
}
.container{
    max-width:300px;
}
.form {
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.welcome{
    color: #61516e;
    font-family: "Great Vibes", cursive; font-size: 20px;
    line-height: 20px;
}
.errors{
    text-align: center;
    color: red;
    font-size:12px;
    margin: 20px 0px 0px;
}
.footer{
    font-weight: 600;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px;
}
.language_container{
    margin: 5px;
    color: white;
}
.description{
    color: white;
}