.root{
    margin:5% 0px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.h1{
    color: #61516e;
    font-size: 20px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-align:center;
    margin: 0px 0px 10px;
}
.formText{
    margin: 8px 0px 0px;
}
.checkboxText{
    margin: 8px 0px 0px;
    display: flex;
    align-items: center;
}
.random{
    bottom:0px;
}
.main{
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.doctor{
    max-width:410px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator{
    margin: 30px 10px;
}
.firstLine{
    margin: auto;
    width: 1px;
    background: #ccc;
    height: 40%;
}
.middleText{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-weight: 600;
    height: 10%;
    margin: 18px 0px;
}
.secondLine{
    margin: auto;
    width: 1px;
    background: #ccc;
    height: 41%;
}
.patient{
    max-width:370px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    padding: 20px;
}
.select{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 8px 0px;
    background-color: white;
    outline-color: #61516e;
}
.status{
    text-align: center;
    color: green;
    margin: 20px 0px 0px;
}
.errors{
    text-align: center;
    color: red;
    font-size:15px;
    margin: 20px 0px 0px;
}
.errorLabel{
    color:red;
}