body{
    margin: 0px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background: linear-gradient(to bottom right, #355C7D, #6C5B7B, #C06C84);
}
input[type=submit] {
    background-color: #61516e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 8px 0px 0px;
    cursor: pointer;
}
input[type=submit]:hover:enabled {
    background-color: #564862;
}
.sortForm{
    text-align:center;
}
.select{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 8px 0px;
    background-color: white;
    outline-color: #61516e;
}
.h1{
    color: white;
    font-size: 20px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-align:center;
    margin: 0px 0px 10px;
}
.font{
    color: white;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
.firstTable{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.secondTable{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.root{
    width: 100%;
    height: 85%;
    margin:2% 0px 0px;
    display: flex;
}
.tableContainer{
    overflow-x:auto;
    max-height:500px;
}
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;

}
.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:nth-child(odd){
    background-color: white;
}
.table tr:hover {background-color: #ddd;}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #403649;
  color: white;
}